.App{
 
  margin: 0 auto;
}

p, a{
  margin:0;
  color:#2b2d42
}

a:visited {
   color: #2b2d42
  } /* Visited link    */
a:hover {
   color: #2b2d42
  } /* Mouse over link */
a:active {
   color: #2b2d42
  }




