@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: local('Nunito-Regular'), url(./fonts/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: local('Nunito-Bold'), url(./fonts/Nunito-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBoldItalic';
  src: local('Nunito-SemiBoldItalic'), url(./fonts/Nunito-SemiBoldItalic.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,h2,h3{

  font-family:Nunito-Bold;
}
